/* @import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

.navbar .logo {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
}

.navbar .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #673d89;
  border-radius: 75.7576px;
  height: 58px;
}

.nav-link {
  color: inherit;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22.7273px;
  line-height: 27px;
  text-decoration: none;
  color: #ffffff;
  border-radius: 75.76px;
  padding: 15px 35px;
}

.nav-link__button {
  background: #673d89;
}

.navbar .active .nav-link {
  background-color: #f8e1a6;
  color: rgba(0, 0, 0, 0.8);
}

ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  .navbar .navigation {
    border-radius: 75.7576px;
    height: 48px;
  }

  .nav-link {
    font-size: 18px;
    line-height: 22px;

    padding: 10px 25px;
  }
}

#toggler,
label {
  display: none;
}

@media screen and (max-width: 825px) {
  .navbar {
    width: 100%;
    max-height: 0 !important;
    overflow: hidden;
  }

  label {
    color: white;
    display: block;
  }

  #toggler:checked ~ .navbar {
    max-height: 100%;
  }
}
*/

.navbar .logo {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
}

.nav-link {
  color: inherit;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22.7273px;
  line-height: 27px;
  text-decoration: none;
  color: #ffffff;
  border-radius: 75.76px;
  padding: 15px 35px;
}

.nav-link__button {
  background: #673d89;
}

.navbar .active .nav-link {
  background-color: #f8e1a6;
  color: rgba(0, 0, 0, 0.8);
}

.navbar .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #673d89;
  border-radius: 75.7576px;
  height: 58px;
}

.nav-link__hidden {
  display: none;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  /* background-color: rgb(0, 0, 0); */
  text-transform: uppercase;
  padding: 25px;
}

.navbar a {
  text-decoration: none;
  color: white;
}

/* .logo {
  margin-right: 50px;
} */

.list {
  list-style: none;
  display: flex;
  gap: 25px;
}

#toggler,
.navbar label {
  display: none;
}

@media screen and (max-width: 1135px) {
  .navbar .menu {
    border-radius: 75.7576px;
    height: 48px;
  }

  .nav-link {
    font-size: 18px;
    line-height: 22px;
    padding: 10px 25px;
  }
}

@media screen and (max-width: 935px) {
  .navbar .logo {
    display: none;
  }
  .button__hidden {
    display: none;
  }
  .nav-link__hidden {
    display: block;
  }

  .navbar .menu {
    margin: 0 auto;
  }
}

@media screen and (max-width: 820px) {
  .navbar {
    padding: 25px 0;
  }
}

@media screen and (max-width: 765px) {
  .nav-link {
    padding: 10px 15px;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 665px) {
  .navbar .menu {
    border-radius: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    max-height: 45px;
    padding: 35px 0;
  }

  .navbar {
    padding-top: 0;
    overflow-x: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
  }

  .list {
    overflow-x: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
    width: 100%;
  }

  .list::-webkit-scrollbar {
    display: none;
  }

  .nav-link {
    width: max-content;
  }
}

/* 
@media screen and (max-width: 765px) {
  .button__hidden {
    display: none;
  }
  .nav-link__hidden {
    display: block;
  }

  .navbar label {
    position: relative;
    z-index: 4;
  }
  .navbar .menu {
    position: absolute;
    z-index: 2;
    width: 250px;
    height: 0;
    overflow: scroll;
    top: 0;
    border-radius: 20px 0 20px 20px;
    right: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .list {
    flex-direction: column;
    align-items: center;
  }

  .list a {
    color: white;
  }

  label {
    color: white;
  }

  .navbar label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }

  #toggler:checked ~ .menu {
    height: 350px !important;
  }
} */
